body {
    background-image: url(../img/bg1.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50vmax;
}

.navbar {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

/* landing page */
.landingPage {
    padding-top: 220px;
    width: 50%;
    margin-left: 6%;
}
.landingPage h2 {
    color: rgb(62, 157, 212);
}
.landingPage hr {
    border: 2px solid orange;
    margin-inline-start: 0;
    width: 80%;
}
.landingPage p {
    color: rgb(104, 104, 104);
    font-size: large;
    line-height: 30px;
}

/* end landing page */

/* pengisi materi */
.penulis {
    width: 100%;
    height: 370px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 1fr 1fr;
    padding: 2% 0;
    /* background-color: rgba(0,0,0, 0.8); */
    color: rgb(240, 240, 240);
}

.penulis h2 {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-self: center;
    font-size: 25px;
}

.penulis h3 {
    align-self: flex-end;
    justify-self: center;
    font-size: 16px;
}

.penulis h4 {
    place-self: center;
    font-size: 16px;
}

.imgProfil {
    width: 200px;
    height: 200px;
    background-image: url(../img/imgProfil.jpg);
    background-size: cover;
    border-radius: 50%;
    place-self: center;
}

.sosmed {
    margin-top: 10px;
    height: 50px;
    justify-self: center;
}

.sos {
    display: inline-block;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .landingPage {
        padding-top: 100px;
        width: 100%;
    }
    .landingPage h2 {
        color: rgb(62, 157, 212);
        font-size: large;
    }
    .landingPage hr {
        border: 1px solid orange;
        width: 50%;
        margin-inline-start: 0;
    }
    .landingPage p {
        color: rgb(104, 104, 104);
        font-size: small;
        line-height: 20px;
    }
    #carouselExampleCaptions {
        margin-top: 50px;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        padding-right: 10%;
    }
    .landingPage {
        padding-top: 70px;
        width: 100%;
    }
    .landingPage h2 {
        color: rgb(62, 157, 212);
        font-size: small;
    }
    .landingPage hr {
        border: 1px solid orange;
        width: 60%;
        margin-inline-start: 0;
    }
    .landingPage p {
        color: rgb(104, 104, 104);
        font-size: x-small;
        line-height: 20px;
    }
    #carouselExampleCaptions {
        margin-top: 30px;
    }
}
