.navbar {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

#tab {
    margin-top: 60px;
    padding-left: 6%;
    padding-right: 6%;
}